.card {
    width: 220px;
    margin-left: 10px;
    margin-bottom:10px ;
}

.card-Published {
    text-align: center;
    border-top: 5px solid rgb(102, 202, 155);
}

.card-Published:hover {
    border-bottom: 2px solid rgb(102, 202, 155);
    border-left: 2px solid rgb(102, 202, 155);
    border-right: 2px solid rgb(102, 202, 155);
    transition: all 90ms linear;
    cursor: pointer;
}

.card-Published-active {
    border-bottom: 2px solid rgb(102, 202, 155);
    border-left: 2px solid rgb(102, 202, 155);
    border-right: 2px solid rgb(102, 202, 155);
    transition: all 90ms linear;
}

.card-Expired {
    text-align: center;
    border-top: 5px solid grey;
}

.card-Expired:hover {
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    transition: all 90ms linear;
    cursor: pointer;
}

.card-Expired-active {
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    transition: all 90ms linear;
}

.card-Closed {
    text-align: center;
    border-top: 5px solid grey;
}

.card-Closed:hover {
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    transition: all 90ms linear;
    cursor: pointer;
}

.card-Closed-active {
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    transition: all 90ms linear;
    cursor: pointer;
}

.surv-period {
    height: 15px;
    margin-top: 5px;
}
.survey-periods {
    height: 42px;
    margin-top: -10px;
    text-align: center;
}

::ng-deep .mat-form-field-underline {
    display: none;
  }

::ng-deep .mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
    color: rgb(102, 202, 155);
  }

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label.mat-accent {
    color: rgb(102, 202, 155);
}

::ng-deep .mat-form-field.mat-focused.mat-accent .mat-select-arrow {
    color: rgb(102, 202, 155);
}