<mat-card class="card" [ngClass]="{'card-publish': surveyItem.SURVEY_STATUS_EN === 'Published',
'card-expired': surveyItem.SURVEY_STATUS_EN === 'Expired',
'card-closed': surveyItem.SURVEY_STATUS_EN === 'Closed'}">
    <mat-card-title>
        <ng-container [ngSwitch]="surveyItem.SURVEY_STATUS_EN">
            <fa-icon *ngSwitchCase="'Published'" [icon]="faCheck" style="color:rgb(102, 202, 155)"></fa-icon>
            <mat-icon *ngSwitchCase="'Expired'" style="color: grey;">alarm</mat-icon>
            <mat-icon *ngSwitchCase="'Closed'" style="color: grey;">lock</mat-icon>
        </ng-container>
        
    </mat-card-title>
    
    <mat-card-content>{{surveyItem.SurveyName}}</mat-card-content>
    
    <mat-card-footer style="border-top: 1px solid lightgrey;">
        <mat-form-field  
         [color]="'accent'" 
         [floatLabel]="'never'"
         style="text-align: center; height: 45px;">
            <!-- <mat-label>Select Date</mat-label> -->
            <mat-select placeholder="Select Period">
                <div>
                <mat-option *ngFor="let surveyPeriod of surveyPeriods" 
                [value]="surveyPeriod.START_DATE - surveyPeriod.END_DATE">
                    {{surveyPeriod.START_DATE | date:'dd/MM/yyyy'}} - {{surveyPeriod.END_DATE | date:'dd/MM/yyyy'}}
                </mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    </mat-card-footer>
</mat-card>