.nav-container {
  background-color: white;
  margin: 5px;
  position: relative;
}

.info-tip {
  background-color: lightcyan;
  margin: 10px;
  padding: 7px;
}

.info-color {
  color: cornflowerblue;
}

.x-mark {
  position: absolute;
  right: 30px;
  margin-top: 15px;
}

#search {
  padding: 9px 7px;
  margin: 8px 10px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

::placeholder {
  color: lightgrey;
}

.search-icon {
  color: grey;
  float: right;
  margin-left: -35px;
  margin-top: 15px;
  position: absolute;
  z-index: 2;
}

.filter-button {
  font-size: 9;
  font-weight: 400;
  color: rgb(102, 202, 155) !important;
  border: 1px solid rgb(102, 202, 155);
}

.filter-menu {
  background: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  width: 250px;
  height: 235px;
  margin-left: 150px;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.filter-options {
  margin-right: 10px;
}

.view-icons {
  display: flex;
  justify-content: flex-end;
  margin: -17px 25px 10px 25px;
}

.view-icons mat-icon {
  padding: 1px;
  border-radius: 2px;
}

.view-icon-not-active {
  background-color: white;
  color: lightgrey;
  border: 1px solid lightgrey;
}

.view-icon-active {
  background-color: black;
  color: white;
}

.view-icons .mat-icon-button {
  margin-right: -7px !important;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
  margin: 15px;
}

::ng-deep .mat-ink-bar {
  background-color: rgb(102, 202, 155) !important;
}

::ng-deep .mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important;
}

::ng-deep span .mat-raised-button.mat-accent {
  background-color: rgb(102, 202, 155);
}

::ng-deep .mat-tab-label {
  height: 27px !important;
  min-height: 5px !important;
  margin: 3px !important;
  width: 90px !important;
  min-width: 5px !important;
}