.toolbar-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    background-color: white;
    color: black;
  }

  .toolbar-button {
    background-color: lightskyblue;
    margin: 5px 5px;
  }

  mat-toolbar div {
    margin: 10px 10px;
  }

   div p.user-account {
    display: inline;
    font-weight: 400;
  }

  span.material-icons {
    margin-top: 10px;
  }

  span.user-account {
    font-weight: 400;
  }

  header {
    margin-bottom: 10px ;
  }

  .cards-container {
    background-color: white;
    margin: 10px; 
    padding-bottom: 200px;
  }

  .info-tip {
    background-color: lightcyan;
    margin: 10px;
    padding: 7px;
  }

  .info-color {
    color: cornflowerblue;
  }

  .x-mark {
    position: absolute;
    right: 25px;
    margin-top: 15px;
  }

  ::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
    margin: 15px;
  }

  ::ng-deep .mat-ink-bar {
    background-color: rgb(102, 202, 155) !important ;
  }

  ::ng-deep .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important ;
  }

  ::ng-deep span .mat-raised-button.mat-accent {
    background-color: rgb(102, 202, 155);
  }

  ::ng-deep .mat-tab-label
{
  height: 27px !important;
  min-height: 5px!important;
  margin: 3px!important;
  width: 90px!important;
  min-width: 5px!important;
}