<header>
  <mat-toolbar>
  <span>AL-KHWARIZMI</span>
  <span class="example-spacer"></span>
  <div>
    <p class="user-account">
      <button mat-mini-fab class="toolbar-button">
          <span>HA</span>
        </button>
      Hamza Ayyad 
      <span class="material-icons">arrow_drop_down</span>
    </p>
  </div>
  <span style="margin:10px;">|</span>
  <span class="user-account">English</span>
</mat-toolbar>
</header>

<div class="cards-container">
   <p style="background-color: lightcyan;"><fa-icon style="color: cornflowerblue;"[icon]="circleInfo"></fa-icon>
  <span style="color: cornflowerblue;"> Information:</span> Select Template to Continue 
  <mat-icon class="x-mark">close</mat-icon></p>
  <mat-tab-group [color]="'accent'">
    <mat-tab label="Published">
      <div fxLayout="row wrap" fxLayoutGap="10px">
        <div fxFlex="25%">
          <app-card-item></app-card-item>
          <app-card-item></app-card-item>
        </div>
      </div>
       </mat-tab>
    <mat-tab label="Expired"> Expired </mat-tab>
    <mat-tab label="Closed"> Closed </mat-tab>
    <mat-tab label="All Surveys"> All Surveys </mat-tab>
  </mat-tab-group>
</div>
